<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Form</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
   <script type ="text/javascript">
       $(document).ready(function (){
           // this triggers the connection event in our server!
           var socket = io.connect();
           // we'll write all the socket stuff after the above line!
           $('button').click(function(){
               socket.emit("button_clicked", {reason: "to learn about sockets"});
           });
           socket.on('server_response', function(data){
               console.log("Server says: " + data.response);
           })
       })
   </script>
    </head>
    <body>
        <form class="user_information_form" action="/process" method="post">
            <label for="name">Your Name:</label>
            <input type="text" name="name" value="">
            <label for="location">Dojo Location</label>
            <select class="dojo_location" name="location">
                <option value="mountain_view">Mountain view</option>
                <option value="chicago">Chicago</option>
                <option value="seattle">Seattle</option>
            </select>
            <label for="language">Favorite Language</label>
            <select class="language" name="language">
                <option value="javascript">Javascript</option>
                <option value="python">Python</option>
                <option value="ruby">Ruby</option>
                <option value="perl">Perl</option>
            </select>
            <label for="comment">Comment (optional):</label>
            <input type="textarea" name="comment" value="">
            <button type="button" name="submit">Submit</button>
        </form>
    </body>
</html>
