<!DOCTYPE html>
<html ng-app='products'>
    <head>
        <meta charset="utf-8">
        <title>Products Page</title>
        <script src="bower_components/angular/angular.js"></script>
        <script type="text/javascript">
            var app = angular.module('products', []);
            app.factory('productsFactory', ['$http', function($http){
                var factory = {};
                var products = [{'name':'triple-layer nachos', 'price':1.00}];
                factory.getProducts = function(callback){
                     callback(products);
                }
                factory.addProduct = function(product){
                    products.push(product);
                }
                factory.deleteProduct = function(index){
                    products.splice(index, 1);
                }
                return factory;
            }])
            app.controller('productsController', ['$http', '$scope', 'productsFactory',
                function($http, $scope, productsFactory){
                    $scope.products = [];
                    productsFactory.getProducts(function(products){
                        $scope.products = products;
                    })
                    $scope.deleteProduct = function(index){
                        productsFactory.deleteProduct(index);
                        productsFactory.getProducts(function(products){
                            $scope.products = products;
                        })
                    }
                    $scope.addProduct = function(){
                        productsFactory.addProduct($scope.product);
                        $scope.product = {};
                        productsFactory.getProducts(function(products){
                            $scope.products = products;
                        })
                    }
                }
            ])
        </script>
    </head>
    <body>
        <h1 ng-hide='true'>Angular isn't up yet!</h1>
        <div class="products" ng-controller="productsController">
            <input type="text" name="name" value="" ng-model="product.name" placeholder='name'>
            <input type="number" step='.01' name="price" value="" ng-model="product.price" placeholder='price'>
            <button type="button" name="button" ng-click="addProduct()">Add Product</button>
            <table>
                <thead>
                    <th>product name</th>
                    <th>price</th>
                    <th>actions</th>
                </thead>
                <tbody>
                    <tr ng-repeat='product in products track by $index'>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td><button type="button" name="button" ng-click='deleteProduct($index)'>Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
