<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Make a quote</title>
    </head>
    <body>
        <h1>Make a quote here!</h1>
        <button type="button" name="button"><a href="/quotes">Skip to the Quotes</a></button>
        <form class="make_a_quote" action="/quotes" method="post">
            <label for="user">User:</label>
            <input type="text" name="user" value="">
            <label for="content">Quote:</label>
            <input type="textarea" name="content" value="">
            <input type="submit" name="submit" value="Submit">
        </form>
    </body>
</html>
