<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>One Lion</title>
    </head>
    <body>
        <h1>Here's a lion, just one I guess</h1>
        <p>This lion's name is <%= lion.name %></p>
        <p>This lion is <%= lion.age %> years old</p>
        <p>This lion lives by a code: "<%= lion.house_words %>"</p>
        <button type="button" name="button"><a href="/">return to index</a></button>
    </body>
</html>
